@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden !important;
}

section {
    overflow-x: hidden !important;
    scroll-margin-top: 60px;
}

nav.active {
    background: #e5e7eb;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    inset: 0;
    position: fixed;
    z-index: 10;
}

nav.active ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}